@use "../../scss/mixins" as *;
@use "../../scss/variables" as *;

.wrapper{
    width: 100%;
    height: 100%;
    border-left: 1px solid $txt-main;
    padding-block: $spacing-sm-2;
    padding-inline: $spacing-sm-1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top{
        display: flex;
        justify-content: space-between;
        @include bebas;
        
        .left{
            font-size: $txt-l-1;
        }
        
        .right{
            cursor: pointer;
        }
    }

    .center{
        height: 70%;
        overflow-y: auto;
        
        &::-webkit-scrollbar{
            display: none;
        }
        
        .empty{
            font-size: $txt-l-1;
            opacity: 0.5;
            text-align: center;
            @include stint;
        }
    }

    .bottom{
        font-size: $txt-nm-2;
        @include stint;

        .priceContainer{
            border-block: 1px solid $txt-main;
            padding-block: $spacing-sm-1;
            display: flex;
            justify-content: space-between;
            letter-spacing: 1px;
        }

        .btnContainer{
            margin-block: $spacing-sm-3;
            display: flex;
            justify-content: space-between;

            button{
                border: 1px solid $txt-main;
                padding-block: $spacing-sm-1;
                padding-inline: $spacing-nm-2;
                border-radius: 1.5rem;
                font-size: $txt-nm-2;
                @include stint;
            }

            .continue{
                background-color: $bg-main;
                cursor: pointer;
            }

            .proceed{
                background-color: $yellow;
            }
        }
    }
}