@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;
@use "../../scss/breakpoints" as *;

.wrapper{
    border: 1px solid $txt-main;
    width: 100%;
    height: 86vh;
    overflow: hidden;

    @include custom-screen($breakpoint: 600px){
        height: 400px;
    }

    @include custom-screen($breakpoint: 500px){
        height: 250px;
    }

    .imgContainer{
        width: 100%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transition;

            &:hover{
                scale: 1.02;
            }
        }
    }
}