@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;
@use "../../scss/breakpoints" as *;

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    @include custom-screen($breakpoint: 801px){
        flex-direction: column;
        gap: $spacing-sm-2;
    }

    .left{
        width: 50%;
        flex: 1;

        @include custom-screen($breakpoint: 801px){
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .right{
        width: 50%;
        flex: 1;

        @include custom-screen($breakpoint: 801px){
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}