@use "../scss/variables" as *;
@use "../scss/mixins" as *;

.container{
    @include container;
    margin-top: $spacing-l-1;
    
    .content{
        @include content;

        .bold{
            margin-block: $spacing-nm-4;
            font-size: $txt-l-1;
        }

        .text{
            color: gray;
            line-height: 1.5;
            letter-spacing: 2px;
            margin-block: $spacing-sm-4;
        }

        .space{
            margin-block: $spacing-nm-4;
        }
    }
}