@use "./scss/variables" as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "OpenSans-Bold",sans-serif;
  font-size: $txt-sm-4;
  font-weight: 600;
  color: $txt-main;
  background-color: $bg-main;
  text-transform: uppercase;
}

li{
  list-style: none;
}

a{
  color: $txt-main;
  text-decoration: none;
}


